.book-page h1,
.book_detail_page h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.book-page h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.search-books {
  display: flex;
  gap: 2%;
  width: 40%;
  margin-bottom: 20px;
}

#book-list {
  gap: 10px;
  position: relative;
  display: grid;
  padding-right: 2%;
  grid-template-columns: 70% 30%;
}

#book-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.book_card,
.book_card_detail {
  position: relative;
  border-radius: 12px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 10px 0;
  background-image: url("/images/card-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
}

.book_card {
  --posx: 50%;
  --posy: 50%;
  --rotateX: 0;
  --rotateY: 0;
  background-position: var(--posx) var(--posy);
  transform: perspective(100em) translatez(0em) rotateY(var(--rotateX))
    rotateX(var(--rotateY));
  z-index: 2;
}

.book_card:after {
  content: "";
  position: absolute;
  inset: 2rem;
  background-color: transparent;
  transform: translatez(-10em);
  border-radius: inherit;
  filter: blur(3rem);
}

.book_card:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  mix-blend-mode: color;
  border-radius: inherit;
  pointer-events: none;
}

@keyframes reset-card {
  to {
    background-position: 50% 50%;
    transform: rotateY(0) rotateX(0);
  }
}

.book_card_detail > h2 {
  font-size: 2rem;
}

.amount {
  font-family: monospace;
  margin-bottom: 0;
}

.zero {
  color: blue;
}

.book_card > a {
  text-decoration: none;
  font-style: italic;
  color: #fff;
  font-variant-caps: petite-caps;
  width: max-content;
  font-size: 17px;
  font-weight: 600;
}

.book_card > p,
.book_card_detail > h3 {
  color: #ffffffca;
  font-weight: 600;
  margin: 0;
  text-shadow: 10px 10px 25px rgba(255, 255, 255, 0.4);
}

.book_card_detail > h3 {
  font-size: 1.6rem;
}

.book_card > span {
  font-weight: bold;
  letter-spacing: 1px;
}

.sort_books {
  display: flex;
  align-items: center;
  gap: 10%;
  font-size: 1.2rem;
  margin-bottom: 30%;
}

.add-book {
  display: flex;
  width: 100%;
  justify-content: end;
}

.btn-filter {
  height: 40px;
}

.book_detail_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

.book_card_detail {
  height: 70%;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  color: #ffffffca;
  font-weight: 900;
  position: relative;
  width: 220px;
  font-size: 1.5rem;
  font-family: monospace;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background: transparent;
  border: none;
  cursor: pointer;
}

.add-to-cart-img {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}

.add-to-cart:active {
  color: rgb(132, 0, 255);
}

.add-to-cart:hover .add-to-cart-img {
  right: 5px;
}

.admin_book_actions {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin_book_actions > button {
  text-align: center;
  width: 100%;
}

.book-form {
  width: 50%;
}

.back-url {
  width: 90%;
}
