{% extends "base.html" %}
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static "css/books.css" %}" />
{% endblock %} 
{% block title %} Bookshop | Details {% endblock %} 
{% block content %}
<div>
	{% if role == '' %}
		<h2 style="font-family: monospace; font-weight: bold;">SignIn or SignUp to see this page!</h2>
	{% elif form is None %}
	    <div class="book_card_detail">
    		<h2 style="margin-bottom: 20px;">{{book.title}}</h2>
			<h3>{{book.author.surname}} {{book.author.name}}</h3>
			<h3>{{book.genre.name}}</h3>
			<h2 style="font-family: monospace;">{{book.amount}} left!</h2>
			{% if role == 'usr' %}
			<form method="post" action="/orders/">
				{% csrf_token %}
				<button type="submit" name="action" value="buy">
					{{book.price}} BYN<br/>
					Buy Now
				</button>
			</form>
			{% endif %}
			{% if role == 'adm' %}
				<form class="admin_book_actions" method="post">
					{% csrf_token %}
					<button type="submit" name="action" value="edit">Edit</button>
					<button type="submit" name="action" value="del">Delete</button>
				</form>
			{% endif %}
		</div>
	{% else %}
		<form action="" method="post">
			{% csrf_token %}
			<table>
			{{ form.as_table }}
			</table>
			<input type="submit" name="action" value='save' style="padding: 5px; text-transform: capitalize;" />
		</form>
	{% endif %}
</div>
{% endblock %}