.qa_card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 75%;
}

.qa_card > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.qa_card > div > h2 {
  color: rgb(0, 138, 156);
}

.qa_card > div > p {
  opacity: 0.6;
}
