.slider-container {
  width: 100%;
  position: relative;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide > a > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev-btn,
.next-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
}

.prev-btn {
  margin-left: 5px;
}

.next-btn {
  margin-right: 5px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.pagination div {
  width: 10px;
  height: 10px;
  background-color: #40d3dc;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.pagination div.active {
  background-color: #ff4b5c;
}

.slide-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ff4b5c;
  font-size: 18px;
}

.slide-counter {
  font-weight: bold;
}

.slide-title {
  margin-left: 10px;
}

.banner-form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.banner-form-section > h2 {
  margin-bottom: 20px;
}

.banner-form {
  width: 30%;
}

.btn {
  width: 40%;
}

.back-ref {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.banner-link::before {
  content: "<---- ";
  position: absolute;
  opacity: 0;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease, opacity 0.3s ease;
}

.banner-link:hover::before {
  left: -50px;
  opacity: 1;
}
