article > section {
  margin-bottom: 20px;
}

section + h2 {
  margin-bottom: 20px;
}

.rev_card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 75%;
}

.rev_card > section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rev_card > section > h2 {
  color: rgb(98, 130, 255);
}

.rev_card > section > h4::before {
  content: "Rate: ";
}

.rev_card > section > h4::after {
  content: "/5";
}

.rev_card > section > p {
  opacity: 0.6;
}

.form-section {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-section > h2 {
  align-self: center;
  font-family: monospace;
  margin-bottom: 20px;
}

.form-review {
  width: 30%;
}

.review-btn {
  width: 50%;
}
