{% extends "base.html" %}
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static "css/salecodes.css" %}" />
{% endblock %} 
{% block title %} Bookshop | About {% endblock %} 
{% block content %}
<article>
	{% if form is None %}
		{% if role == "" %}
			<h2 style="font-family: monospace; font-weight: bold;">SignIn or SignUp to see this page!</h2>
        {% else %}
		{% if codes %}
			{% if role == 'adm' %}
				<h2 style="margin-bottom: 20px;">All sale codes</h2>
				{% for code in codes %}
			 		<div class="codescont">
						<p>{{ code.order }}. <em>{{ code.code }}</em> - <b><mark>sale {{ code.sale }}%</mark></b> - 
						<span style="color: darkmagenta;">
							{% if code.is_active %}
								Active
							{% else %}
								Disabled
							{% endif %}
						</span>
						</p>
						<form method="post">
							{% csrf_token %}
							{% if code.is_active %}
								<button type="submit" name="action" value='upd_{{ code.id }}'>Disable</button>
							{% else %}
								<button type="submit" name="action" value='upd_{{ code.id }}'>Activate</button>
							{% endif %}
							<button type="submit" name="action" value="del_{{ code.id }}">Delete</button>
						</form>
					</div>
				{% endfor %}
			{% else %}
				<h2 style="margin-bottom: 20px;">Current Sales</h2>
				<section style="display: flex; flex-direction: column; gap:10px">
					{% for code in codes %}
					<p style="font-size: 20px; ">{{ code.order }}. 
						<a href="{% url 'catalog' %}" style="text-decoration: none; 
						color:rgb(0, 55, 255);">
							<i>{{ code.code }}</i>
						</a> - <b><mark>sale {{ code.sale }}%</mark></b>
					</p>
					{% endfor %}
				</section>
			{% endif %}
		{% else %}
			<h3 style="margin-bottom: 20px;">No sale codes!</h3>
		{% endif %}
		{% if role == 'adm'%}
			<form class="add_code" action="" method="post">
				{% csrf_token %}
				<input type="submit" name="action" value="add">
			</form>
		{% endif %}
		{% endif %}
	{% else %}
		<form action="" method="post">
			{% csrf_token %}
			<table>
			{{ form.as_table }}
			</table>
			<input type="submit" name="action" value='save' />
		</form>
	{% endif %}
</article>
{% endblock %}