{% extends "base.html" %}
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static "css/vacancy.css" %}" />
{% endblock %} 
{% block title %} Bookshop | Vacancies {% endblock %} 
{% block content %}
<section>
  {% if form is None %}
      {% if vacancies %}
	  	<h2 style="margin-bottom: 20px;">Vacancies</h2>
	  	{% for vac in vacancies %}
			<article class="vac_card">
				<section>
					<h2>{{vac.name}}</h2>
					<pre>{{vac.description}}</pre>
					<p>{{vac.updated_at.date}}</p>
				</section>
				{% if role == 'adm' %}
					<form method="post">
						{% csrf_token %}
						<button type="submit" name="action" value='upd_{{ vac.id }}'>Update</button>
						<button type="submit" name="action" value='del_{{ vac.id }}'>Delete</button>
					</form>
				{% endif %}
			</article>
		{% endfor %}
	  {% else %}
	  	<h2>No Vacancies...</h2>
	  {% endif %}
      {% if role == 'adm' %}
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="action" value="add">Add Vacancy</button>
        </form>
      {% endif %}
  {% else %}
    <form method="post">
        {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" name="action" value="save_{{action}}">Save</button>
    </form>
  {% endif %}
</section>
{% endblock %}